html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.carousel__item {
  height: 100vh;
  color: #fff;
  font-family: sans-serif;
  font-size: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: rgb(135, 224, 253); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(135, 224, 253, 1) 0%,
    rgba(83, 203, 241, 1) 40%,
    rgba(5, 171, 224, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(135, 224, 253, 1) 0%,
    rgba(83, 203, 241, 1) 40%,
    rgba(5, 171, 224, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(135, 224, 253, 1) 0%,
    rgba(83, 203, 241, 1) 40%,
    rgba(5, 171, 224, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
.owl-item:nth-child(even) .carousel__item {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#05abe0+0,53cbf1+60,87e0fd+100 */
  background: rgb(5, 171, 224); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(5, 171, 224, 1) 0%,
    rgba(83, 203, 241, 1) 60%,
    rgba(135, 224, 253, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(5, 171, 224, 1) 0%,
    rgba(83, 203, 241, 1) 60%,
    rgba(135, 224, 253, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(5, 171, 224, 1) 0%,
    rgba(83, 203, 241, 1) 60%,
    rgba(135, 224, 253, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 ); /* IE6-9 */
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.owl-nav button span {
  color: transparent;
  height: 5vw;
  width: 5vw;
  max-width: 100px;
  max-height: 100px;
  min-width: 44px;
  min-height: 44px;
  display: block;
  border-bottom: 15px solid rgba(255, 255, 255, 0.5);
  border-left: 15px solid rgba(255, 255, 255, 0.5);
  transition: all 0.15s ease-in-out;
  outline: none;
}
.owl-nav button:hover span {
  border-color: rgba(255, 255, 255, 1);
}
.owl-nav button.owl-prev span {
  transform: rotate(45deg);
  margin-left: 5vw;
}
.owl-nav button.owl-next span {
  transform: rotate(225deg);
  margin-right: 5vw;
}
.owl-dots {
  height: 15vh;
  min-height: 88px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel button.owl-dot {
  background-color: rgba(255, 255, 255, 0.5);
  height: 2vh;
  width: 2vh;
  min-height: 44px;
  min-width: 44px;
  outline: none;
  border-radius: 100%;
  margin-right: 1vw;
  transition: all 0.15s ease-in-out;
}
.owl-carousel button.owl-dot:hover {
  transform: scale(1.15);
}
.owl-carousel button.owl-dot:last-of-type {
  margin-right: 0;
}
.owl-carousel button.owl-dot.active {
  background-color: rgba(255, 255, 255, 1);
}
