* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}
.form {
  display: flex;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.form__input {
  flex: 7;
  font-size: 2em;
  padding: 50px;
  outline: 0;
  border: 0;
}
.form__submit {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  background-color: aquamarine;
  transition: background-color 0.15s;
  flex: 3;
  border: none;
  outline: none;
}
.form__submit:hover {
  background-color: #74e3be;
}
#display {
  display: flex;
  flex-direction: column;
}
.message {
  padding: 25px;
  margin: 25px 25px 0 25px;
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 70%;
  font-weight: normal;
}
.message:last-of-type {
  margin-bottom: 25px;
}
.message--outbound {
  align-self: flex-start;
  border-top-left-radius: 0;
  background-color: #1592ff;
  color: white;
}
.message--inbound {
  align-self: flex-end;
  border-top-right-radius: 0;
  color: grey;
}
